*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

html,body{
  height: 100%;
}

body{
  background: #0a2a43;
  min-height: 1500px;
}
/* you have to define the color of each nav elements like brand
and link seperately, it wont work else way */
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
/* these two must be without spaces, with space the things mess up */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}










section
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


section:before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 1000;
}

/* section:after and section alone have differnet effects, you
can try this in w3schools */
/* css mix blend mode */
section:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
}

section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}


#road{
  z-index: 2;
}

#text{
  position: relative;
  color: blue;
  font-size: 10em;
  z-index: 1;
  text-shadow: 3px 3px 7px black;
}
